<div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h5 class="my-0 font-weight-normal">Pegue um café e fique à vondade</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fa-solid fa-mug-hot fa-2xl xbig-icon" style="color: #56BAAE;"></i></li>
            </ul>
          </div>
        </div>
      </div>